@import "./constant";
@import "./variables";

.app__home {
  height: 130vh;
  background: $primary-color;
  padding: $ex-gap $md-gap;
  @include flexDirection;
  gap: 3rem;

  /* Media query for small screens */
  @media (max-width: 767px) {
    height: auto; /* Adjust height for small screens */
    padding: $md-gap $sm-gap; /* Adjust padding for small screens */
    flex-direction: column; /* Stack content vertically on small screens */
    gap: 2rem; /* Adjust gap between elements */
  }
  .cta__container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  
    .company__cta {
      margin: 0 auto;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.2);
      transition: box-shadow 0.3s ease-in-out;
    
      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5),
          0 0 60px rgba(255, 255, 255, 0.3);
      }
    }
  }
  .home__text {
    text-align: center;

    h1 {
      @include textGradient;
      font-size: 5rem;

      /* Media query for small screens */
      @media (max-width: 767px) {
        font-size: 3rem; /* Adjust font size for small screens */
      }
    }
  }

  .ticks__container {
    @include flexCenter;
    color: $secondary-color;
    gap: $lg-gap;

    /* Media query for small screens */
    @media (max-width: 767px) {
      flex-wrap: wrap; /* Wrap ticks on small screens */
      justify-content: center; /* Center align ticks on small screens */
    }

    p {
      @include flexAlign;
      gap: $t-gap;
      color: $neutral-color;

      span {
        @include flexCenter;
        height: 20px;
        width: 20px;
        background: $secondary-color;
        border-radius: 5px;
        color: $primary-color;
      }
    }
  }

  .input__container {
    @include inputContainer;

    /* Media query for small screens */
    @media (max-width: 767px) {
      width: 100%; /* Make input container full width on small screens */
    }

    button {
      background: $secondary-color;
    }
  }
}
