// ProductsPage.scss
.products-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 2rem;
    }
  
    .product-card {
      background-color: black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      overflow: hidden;
      transition: transform 1.0s ease;
  
      &:hover {
        transform: translateY(150px);
      }
  
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
  
      h3 {
        font-size: 1.2rem;
        margin: 1rem;
      }
  
      p {
        margin: 0 1rem 1rem;
        font-size: 0.9rem;
        color: white;
      }
  
      .price {
        font-weight: bold;
        color: gray;
      }
  
      button {
        display: block;
        width: 100%;
        padding: 0.8rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 0 0 8px 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }